<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Session</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="create-session">
    <header class="header">
        <h1>FitnessTrack</h1>
        <div class="user-info">
            <img src="{% static 'images/user_icon.png' %}" alt="User Icon">
            <span>{{ user.first_name }}</span>
            <form method="post" action="{% url 'logout_user' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </header>
    <div class="container">
        <h1>Create Session with Coach {{ coach_name }}</h1>
        <form method="post" action="{% url 'create_session' coach_id %}">
            {% csrf_token %}
            <input type="hidden" name="coach_id" value="{{ coach_id }}">
            <label for="date">Date:</label>
            <input type="date" name="date" required>

            <label for="duration">Duration:</label>
            <select name="duration" required>
                <option value="7:00 AM - 7:30 AM">7:00 AM - 7:30 AM</option>
                <option value="7:30 AM - 8:00 AM">7:30 AM - 8:00 AM</option>
                <!-- Add more durations as needed -->
            </select>

            <button type="submit">Create Session</button>
        </form>
    </div>
</body>
</html>
